@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Poppins;
}

body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

.nav_bar {
    position: fixed;

    height: 8vh;
    width: 100%;
    top: 0;
    display: flex;
    align-items: center;
    background-color: rgb(192, 189, 189);
    box-shadow: 3px 10px 18px rgb(255, 166, 0);
    z-index: 999;
}

.logo_img {
    height: 90%;
    margin-right: 10%;
    margin-left: 5%;
}

.nav_bar img {
    height: 100%;
    /* border: 1px solid white; */
    border-radius: 50%;
}

.nav_bar .links {
    width: 70%;
    height: 40px;
    display: flex;
    align-items: center;

    justify-content: space-around;
}

.links .l1 {
    height: 1vh;
    display: flex;
    align-items: center;
    /* overflow: hidden; */
    justify-content: center;
    transition: all ease 0.5s;
    padding: 5%;
}

.links a {
    font-size: 2vh;
    height: 5vh;
    font-weight: 400;
    width: 8vw;
    display: flex;
    padding: 4%;
    justify-content: center;
    justify-content: space-around;
    text-align: center;
    /* overflow: hidden; */
    text-decoration: none;
    color: black;
}

.links .l1 a:hover {
    padding: 4%;
    text-align: center;
    height: 5vh;
    width: 8vw;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    font-size: 2vh;
    font-weight: 400;
    background-color: orange;
    /* overflow: hidden; */
    /* height: 20%; */
    /* font-size: calc(100%); */
    /* font-weight: 400; */
}

.heading {
    margin-top: 5vh;
    text-align: center;
}

.heading h1 {
    font-size: 4rem;
    text-transform: capitalize;
    padding: 5%;
}


.heading:hover {
    text-decoration: solid;
}

.vision {
    height: 60vh;
    width: 100%;
    margin-top: auto;
    display: flex;
    align-items: center;
    margin-bottom: 5%;
    right: 0;
}

.photo {
    height: 100%;
    margin: 5%;
    border-radius: 15px;
    box-shadow: 10px 10px black;
}

.photo img {
    height: 100%;
    border: 4px solid orange;
    border-radius: 15px;
}

.w1 {
    height: 100%;
    border-radius: 15px;
    box-shadow: 0px 10px 10px black;
    /* margin-right: %; */
    text-overflow: ellipsis;
    overflow-y: scroll;
    padding: 2%;
    background-color: orange;
}

.w1 h1 {
    margin-top: 0%;
    font-size: 3rem;
}

.w1 p {
    font-size: 18px;
    padding-top: 4%;
    text-align: justify;
}

.w1::-webkit-scrollbar {
    width: 10px;
    /* Width of the scrollbar */
}

.w1::-webkit-scrollbar-track {
    background: none
        /* Background color of the scrollbar track */
}

.w2 {
    height: 100%;
    border-radius: 15px;
    box-shadow: 0px 10px 10px black;
    margin-left: 5%;
    text-overflow: ellipsis;
    overflow-y: scroll;
    padding: 2%;
}

.w2 h1 {
    font-size: 3rem;
}

.w2 p {
    font-size: 18px;
    padding-top: 4%;
    text-align: justify;
}

.w2::-webkit-scrollbar {
    width: 10px;
    /* Width of the scrollbar */
}

.w2::-webkit-scrollbar-track {
    background: none
        /* Background color of the scrollbar track */
}


.w3 {
    height: 100%;
    border-radius: 15px;
    box-shadow: 0px 10px 10px black;
    margin-right: 5%;
    text-overflow: ellipsis;
    overflow-y: scroll;
    padding: 2%;
    background-color: orange;
}

.w3 h1 {
    font-size: 3rem;
}

.w3 p {
    font-size: 18px;
    padding-top: 2%;
    text-align: justify;
}

.w3::-webkit-scrollbar {
    width: 10px;
    /* Width of the scrollbar */
}

.w3::-webkit-scrollbar-track {
    background: none
        /* Background color of the scrollbar track */
}


footer {
    background-color: #111;
    margin-top: 10vhpx;
}

.footerContainer {
    width: 100%;
    padding: 70px 30px 20px;
}

.socialIcons {
    display: flex;
    justify-content: center;
}

.socialIcons a {
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}

.socialIcons a i {
    font-size: 2em;
    color: black;
    opacity: 0, 9;
}

/* Hover affect on social media icon */
.socialIcons a:hover {
    background-color: #111;
    transition: 0.5s;
}

.socialIcons a:hover i {
    color: white;
    transition: 0.5s;
}

.footerNav {
    margin: 30px 0;
}

.footerNav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.footerNav ul li a {
    color: white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;

}

.footerNav ul li a:hover {
    opacity: 1.5;
}

.footerBottom {
    background-color: #000;
    padding: 20px;
    text-align: center;
}

.footerBottom p {
    color: white;
}

.designer {
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}

@media (max-width: 700px) {
    .footerNav ul {
        flex-direction: column;
    }

    .footerNav ul li {
        width: 100%;
        text-align: center;
        margin: 10px;
    }

    .socialIcons a {
        padding: 8px;
        margin: 4px;
    }
}

@media (max-width: 1000px) {
    .l1 {
        padding: 2%;
    }
}

@media (max-width:413px) {
    l1 a {
        font-size: 1.5vw;
    }
}